
.header {
    background-color: #FFFFFf;
    background-image: url(./../images/background_header.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 30px 80px 40px;
    min-height: 720px;
    max-height: 800px;
    height: 100vh;
    display: flex;
    flex-direction: column;   
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;   
    font-family: "Intern", Arial, sans-serif;
    
   
}

.header__span-accent {
    font-family: "Noto Serif", 'Times New Roman';
    font-style: italic;
    font-size: 60px;
    line-height: 72px;
    color:#2F80ED;
    font-weight: normal;
    display: block;
    z-index: 2
}

.header__title {
    max-width: 729px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -0.6px;    
    z-index:1;
    position: relative;
    padding: 183px 0 20px 0;;
    margin: 0; 
    align-items: flex-end;   
}

.header__description {
    max-width: 683px;
    font-family: "Noto Serif", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    padding: 28px 0 80px 0;
    position: relative;
    z-index:1;
    margin:0;    
}

.header__image {
    position: absolute;
    width: 646px;
    height: auto;
    height: 568px;
    top: 124px;
    right: 5px;
    z-index: 0;    
}

.header__footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    z-index:1;
    position: relative;
    padding :0 80px 40px 0;
    align-items: flex-end;
    
    
}

.header__paragraph {
    margin: 0;
    font-family: "Noto Serif",sans-serif;;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #838383;
}