.recipes {
  background-color: #0a2750;
  background-image: url(./../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 80px 215px;
}

.recipes__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  max-width: 500px;
  margin: 0;
}

.recipes__subtitle {
  font-family: "Noto Serif", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin: 24px 0 80px;
  max-width: 438px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  margin-top: 24px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 0;
}
